C:/Users/jaini/Desktop/Gitbub/FS-Labs-Sem6/Lab 6/fs_lab_6/build/
C:/Users/jaini/Desktop/Gitbub/FS-Labs-Sem6/Lab 6/fs_lab_6/node_modules/

C:/Users/jaini/Desktop/Gitbub/FS-Labs-Sem6/Lab 6/fs_lab_6v2/node_modules/
C:/Users/jaini/Desktop/Gitbub/FS-Labs-Sem6/Lab 6/fs_lab_6v2/build/


C:/Users/jaini/Desktop/Gitbub/FS-Labs-Sem6/Lab 6 7/fs_lab_6/build/
C:/Users/jaini/Desktop/Gitbub/FS-Labs-Sem6/Lab 6 7/fs_lab_6/node_modules/

C:/Users/jaini/Desktop/Gitbub/FS-Labs-Sem6/Lab 6 7/fs_lab_6v2/node_modules/
C:/Users/jaini/Desktop/Gitbub/FS-Labs-Sem6/Lab 6 7/fs_lab_6v2/build/

C:/Users/jaini/Desktop/Gitbub/FS-Labs-Sem6/Lab 9/frontend/node_modules/
C:/Users/jaini/Desktop/Gitbub/FS-Labs-Sem6/Lab 9/frontend/backend/node_modules/